.breadcrumbs {
    background: var(--bg-color);
    padding-left: 10px;
}
.breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.breadcrumbs li {
    display: flex;
    padding: 5px 0px;
}

.breadcrumbs a {
    text-decoration: none;
    text-transform: capitalize;
}

.breadcrumbs a:hover {
    text-decoration: underline;
}

.breadcrumbs li:last-child  a::after {
    content: "" ;
}

.delimeter {
    padding: 0px 5px;
    display: inline-block;
}