@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --deep-blue: #001B87;
  --dark-blue: #0058B3;
  --blue: #00A6D7;
  --light-blue: #30E7ED;
  --lightest-blue: #86FAF2;
  --border-color:  rgba(31, 97, 183, 0.5);
  --box-shadow: 0 0 10px 5px rgba(31, 97, 183, 0.3);
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  --mobile-width: 768px;
  --text-color: #fbfbfbd9;
  --bg-color: #303030;
  --font: 'Noto Sans';
}

html {
  height: 100%;
}
body {
  font-family: var(--font);
  color: var(--text-color);
  height: inherit;
  background: var(--bg-color);
}

div#__next {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Page */
.page {
  padding: 20px 20px;
  width: 100%;
  display: flex;
}

.page_content {
  margin-left: auto;
  margin-right: auto;
  max-width: 850px;
  width: 100%;;
  height: 100%;
}

.content {
  height: 100%;
  width: 100%;
}

.main_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px;
  justify-content: center;
}

.main_content p {
  padding: 20px;
}

.main_content a:hover {
  text-decoration: underline;
}

.main_content li {
  list-style-type: disc;
}

/* Styling of overlay */
.bm-menu-wrap {
  background: rgba(32, 32, 32, 1);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 20px;
}

.footer a {
  padding: 0 10px;
}